/* React Advance Form Start*/
.fatWUN {
    /* position: unset!important; */
    display: unset!important;
    /* flex-wrap: unset!important; */
    /* width: 100%!important */
}

.sc-EHOje {
    width: 100%!important
}

.sc-jTzLTM {
    width: 100%!important
}
/* React Advance Form End*/

.cursor-pointer {
    cursor: pointer;
}

hr {
    margin: 0;
}

.button-vertical-center {
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.inputsearch {
    background: url(../img/icons/search_icon.png) no-repeat 1% 60% !important;
    padding-left: 30px !important;
    /* height: 30px !important; */
    font-size: 12px !important;
}

.loaderstyle {
    text-align: center;
    padding: 21px;
}

.async-select {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #757575;
}

.no-content-message {
    color: #a2a3b1;
    text-align: center;
    padding: 30px;
}

.min-height-135 {
    min-height: 135px;
}