.company-details-location-more-details-screen {
    min-height: 100px;
    background-color: #f6f7fc;
}

.earening-paid-unpaid {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}